/*
Ideas are heavily adopted from: https://github.com/codrops/ButtonComponentMorph/
*/


/* Default styles */

/*
.FullScreenMorph,
.FullScreenMorph > button,
.FullScreenMorph .MorphContent {
    width: 300px;
    height: 80px;
}*/

/*
.FullScreenMorph > button {
    background: #56a0e8;
    color: #f9f6e5;
    padding: 0 1em;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
}*/

/*
.FullScreenMorph .MorphContent {
    background: #99c6f1;
}*/


/* Button */

.FullScreenMorph > button {
    position: relative;
    overflow: hidden;
    z-index: 1000;
    transition: opacity 0.1s 0.5s;
}

.FullScreenMorph.open > button {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
}


/* Content */

.FullScreenMorph .MorphContent {
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 900;
    opacity: 0;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.FullScreenMorph.open .MorphContent {
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: auto;
    opacity: .8;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.FullScreenMorph.scroll .MorphContent {
    overflow-y: scroll;
}

/* Content inner */

.FullScreenMorph .MorphContent > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.FullScreenMorph.open .MorphContent > div {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s 0.5s;
}


/* Easing for the content */

.FullScreenMorph .MorphContent,
.FullScreenMorph.open .MorphContent {
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


/* Helpers */

.no-transition {
    transition: none !important;
}

.noscroll {
    overflow: hidden;
}


/* No JS fallback: we hide the button and show the content */

.no-js .FullScreenMorph > button {
    display: none;
}

.no-js .FullScreenMorph {
    margin: 10px 0;
    float: none;
}

.no-js .FullScreenMorph,
.no-js .FullScreenMorph .MorphContent,
.no-js .FullScreenMorph .MorphContent > div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    transform: none;
    pointer-events: auto;
}
