/* Morph Button: Default Styles

Classes used for full-screen morph button
  morph-button,
  morph-button-fixed,
  morph-button-overlay,
  morph-content,
  content-style-overlay,
*/

.morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
}

.morph-button>button {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #56a0e8;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
    overflow: hidden;
}

.morph-button.open>button {
    pointer-events: none;
}

.morph-content {
    pointer-events: none;
}

.morph-button.open .morph-content {
    pointer-events: auto;
}


/* Common styles for overlay and modal type (fixed morph) */

.morph-button-fixed,
.morph-button-fixed .morph-content {
    width: 300px;
    height: 80px;
}

.morph-button-fixed>button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open>button {
    opacity: 0;
    transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
    opacity: 1;
}

.morph-button-fixed .morph-content>div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content>div {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active>button {
    z-index: 2000;
}

.morph-button-fixed.active .morph-content {
    z-index: 1900;
}


/* Transitions for overlay button and sidebar button */

.morph-button-overlay .morph-content {
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content {
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}


/* Morph Button Style: Overlay */

.morph-button.morph-button-overlay {
    margin: 50px auto;
}

.morph-button-overlay .morph-content {
    overflow: hidden;
    background: #99c6f1;
}

.morph-button-overlay.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
}


/* Let's add some nice easing for all cases */

.morph-button .morph-content,
.morph-button.open .morph-content {
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


/* Helper classes */

.noscroll {
    overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
    overflow-y: scroll;
}


/* No JS fallback: let's hide the button and show the content */

.no-js .morph-button>button {
    display: none;
}

.no-js .morph-button {
    margin: 10px 0;
    float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content>div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    transform: none;
    pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
    display: none;
}

.no-transition {
    transition: none !important;
}


/* Media Queries */

@media screen and (max-width: 600px) {
     .morph-content {
        top: 0% !important;
        left: 0% !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    }
}

@media screen and (max-width: 400px) {
    .morph-button-fixed,
    .morph-button-fixed .morph-content {
        width: 200px;
        height: 80px;
    }
    .morph-button-fixed>button {
        font-size: 75%;
    }
}
