.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 25px 0 20px 0;
  color: white;
}

/*.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}*/

/*.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
